#Build Files
[Bb]in/
[Oo]bj/

#IDE Files
.vscode/

#SSL Information
Certificates/aspnet-practice.crt
Certificates/aspnet-practice.csr
Certificates/aspnet-practice.ext
Certificates/aspnet-practice.key
Certificates/myCA.key
Certificates/myCA.pem
Certificates/myCA.srl
